body {
	margin: 0;
	background-color: rgb(250, 250, 250);
}

.container {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

button {
	cursor: pointer;
}

/* * {
	outline: 1px solid rgb(0 0 0 / 10%);
} */